<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Succesful</h1>
    <div class="row">
		<div class="col-md-12">
			<form action="logout" method="post">
				<h4>Hello, <%= username %></h4>
				
				<p>your age is : <%= age %></p>
				
			</form>
		</div>
	</div>
   
  </body>
</html>