
<!DOCTYPE html>
<html lang="en" >
<head>
	  <title>card details </title><meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	  <link rel='stylesheet' href='/stylesheets/homepage.css' />
	  <script src="angularjs/cart.js"></script>
	  <style>
	  .panel-body {
background-color:#FF5E5E;}
	  </style>
</head>
<body>
	<header><% include ./partials/header %></header>
	<div class = "container"><br>
	<br>
	
		<div class="panel panel body">
		<h1>Congratulations! Your transaction has been processed.</h1>
		</div><br>
		<div> <a href="/homepage1" class="btn btn-default btn-lg"><i class="fa fa-angle-left"></i> Continue Shopping</a></div>
	</div>
</body>
</html>