<style>
	  .panel-body {
	  background-color:#FF5E5E;
	  }
</style>

<div class = "container"><br>
	<br>
	
		<div class="panel panel body">
		<h1>Congratulations! Your transaction has been processed.</h1>
		</div><br>
		<div> <a ui-sref="homepage" class="btn btn-default btn-lg"><i class="fa fa-angle-left"></i> Continue Shopping</a></div>
</div>
	  