 <div class="panel panel-default panel-success">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion"  href="#collapse1">
        Enjoy EBAY Deals</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse panel-success">
      <div class="panel-body">
        <div class="jumbotron">
          <div class="container text-center">
              <div class="col-sm-4">
                <h1>Welcome to EBAY</h1>
              </div>
              <div class="col-sm-4">
                 <img src="./images/0926halloween.jpg" class="img-responsive" width="304" height="236" alt="Cinque Terre">
              </div>
              <div class="col-sm-4">
                <p>Connect with cricket :D</p>
              </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
   	  <li class="dropdown"><button class="dropbtn btn btn-link" role="link">Hi! <%=name %></button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Daily Deals</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Gift Cards</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Sell</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Help and Contact</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"><a href ="/logout"> Logout</a></button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">My eBay</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        
        
    </ul>
  </div>
</nav>
<nav class="navbar">

  <div class="container">
  <div class="row">
    <div class="col-md-2" style="padding-left: 0px;  padding-right: 0px;">
     <img src= "./images/EBay_logo.png" width="150px" class="img-responsive"></img>
    </div>
    <div class="col-md-1">
      <ul id="multicol-menu" class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop by Category</a>
        <ul class="dropdown-menu">
            <li>
                <div class="row" style="width: 400px;">
                    <ul class="list-unstyled col-md-4">
                        <li class="text-muted"><a href="#"><b>Fashion</b></a></li>
                        <li><a href="#">Women Clothing</a></li>
                        <li><a href="#">Men Clothing</a></li>
                    </ul>
                    <ul class="list-unstyled col-md-4">
                        <li><a href="#">test2-1</a></li>
                        <li><a href="#">test2-2</a></li>
                        <li><a href="#">test2-3</a></li>
                    </ul>
                    <ul class="list-unstyled col-md-4">
                        <li><a href="#">test3-1</a></li>
                        <li><a href="#">test3-2</a></li>
                        <li><a href="#">test3-3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
    </div>
    <div class="col-md-9">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" style="width: 600px;">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">All Categories
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
            </ul>
            &nbsp;<button type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    </div>
</nav>
